body {
    background-color:aqua;
}
h1 {text-align:center}
h2 {text-align:center}
p {text-align:center}

.button{
    display:block;
    width:100px;
    height:100px;
    border-radius:100px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background:#000;
    margin: 0 auto;
}
.question {
    text-align:center;
}
